{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="container-fluid body-content">
<div class="container main-content">
    {{ page.content }}

<div id="products-list">
{% for p in page.children() %}
<div class="product col-lg-6 col-md-6">
{{ p.title }}
{{ p.summary }}
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
