{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container main-content">
<div id="service-list" class="col-lg-4 col-md-4">
  <ul>
{% for p in page.children() %}
    <li><a href="{{ p.link }}" alt="{{ p.title }}">{{ p.title }}</a></li>
{% endfor %}
  </ul>
</div>

<div class="col-lg-8 col-md-8">
  {{ page.content }}
</div>

</div>
{% endblock %}
